quick-api-server/mvnw
quick-api-server/target
quick-api-server/.idea/

quick-api-core/mvnw
quick-api-core/target
quick-api-test/mvnw
quick-api-test/.idea

HELP.md

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/

*.xml
quick-api-server/.idea/workspace.xml
quick-api-server/.idea/dataSources/7dda9c20-20af-48c7-b824-64e7c27a8776.xml
quick-api-server/.idea/workspace.xml
