@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


div.jsoneditor-menu {
  background-color: #424242 !important;
  border-bottom: 1px solid #d8d8d8 !important;
}
div.jsoneditor {
  color: #1A1A1A;
  border: 1px solid #424242 !important;
}

div.jsoneditor-menu a.jsoneditor-poweredBy {
    font-size: 8pt;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: none;
}

.el-dropdown-menu__item:hover {
  background-color: #d8d8d8 !important;
  color: black !important;
}